<!--
<app-test></app-test>
<app-test2></app-test2>
<app-login></app-login>
<app-register></app-register>
<app-app-products></app-app-products>
<app-show-employees></app-show-employees>
<app-cart></app-cart>
-->

<app-header></app-header>
<br/>
<marquee><h1 style="color: greenyellow;">Welcome to Angular Routing</h1></marquee>
<br/>
<router-outlet></router-outlet>