<div>
Id:{{id}} <br/>
Name:{{name}} <br/>
Avg:{{avg}} <br/> <br/>

<b><u>Address</u></b>
StreeNo:{{address.StreetNo}} <br/>
City:{{address.city}} <br/>
State:{{address.State}}<br/>

<b><u> Hobbies</u></b> <br/>

<ul>
    <li *ngFor ="let hobby of hobbies">{{hobby}}</li>
</ul>

</div>